.places h1 {
  text-align: left;
  font-size: 30px;
}

article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px #ff5a5f solid;
  border-radius: 4px;
  display: flex;
}

article h2 {
  font-size: 30px;
  margin: 0 auto;
}

.article-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price_by_night {
  color: #ff5a5f;
  border: #ff5a5f 4px solid;
  border-radius: 50%;
  min-width: 60px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
